* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #F9FAF8;
}

/* hero section */
.hero {
  font-size: 18px;
  font-family: "Merriweather";
  background-color: #1F2937;
  color: #F9FAF8;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 1em;
}

.header .header-link {
  display: flex;
  gap: 48px;
}

.header .header-logo {
  font-size: 24px;
  color: #F9FAF8;
}

.intro {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  padding: 48px;
  width: 70vw;
}

.intro h1 {
  font-size: 48px;
  color: #F9FAF8;
  flex: 1;
}

.intro p {
  width: 24vw;
  line-height: 1.3em;
  flex: 1;
}

.intro button {
  padding: 12px 36px;
  margin: 12px 0;
  color: #F9FAF8;
  background-color: #3882F6;
  border-style: none;
  border-radius: 6px;
  font-size: 24px;
  font-weight: 700;
}


.intro img {
  width: 100%;
  max-width: 720px;
  max-height: 360px;
  object-fit: cover;
  flex: auto;
}

/* Information Section */
.information {
  text-align: center;
  padding: 48px;
}

.information h2 {
  font-size: 36px;
  padding-bottom: 48px;
}

.items {
  display: flex;
  gap: 48px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 180px;
}

.card img {
  width: 100%;
  min-width: 150px;
  border-radius: 24px;
  margin: 12px 0;

}

/* Quote Section */
.quote-container {
  background-color: #E5E7EB;
  padding: 5vh;
}

.quote {
  width: 40vw;
  margin: 0 auto;
  padding: 2vh;
}

.quote p:nth-child(1) {
  font-size: 36px;
  font-style: italic;
  margin: 0 auto;
}

.quote p:nth-child(2) {
  text-align: right;
  font-size: 24px;
  font-weight: bold;
  padding: 12px 36px;
}

/* Call to Action Section */
.action-container {
  display: flex;
  justify-content: space-around;
  color: #F9FAF8;
}

.action {
  background-color: #3882F6;
  padding: 48px;
  width: 60vw;
  border-radius: 12px;
  margin: 48px auto;
}

.action button {
  color: #F9FAF8;
  background-color: #3882F6;
  border: 3px solid #F9FAF8;
  padding: 6px 24px;
  font-size: 18px;
  border-radius: 6px;
}

/* Footer */
.footer {
  background-color: #1F2937;
  color: #F9FAF8;
  text-align: center;
  padding: 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #F9FAF8;
}

p {
  font-family: "Roboto";
}
